<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>AddReservationServlet</servlet-name>
        <servlet-class>servlet.AddReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReservationServlet</servlet-name>
        <url-pattern>/AddReservationServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateReservationServlet</servlet-name>
        <servlet-class>servlet.UpdateReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateReservationServlet</servlet-name>
        <url-pattern>/UpdateReservationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <servlet-class>servlet.DeleteReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <url-pattern>/DeleteReservationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayReservationsServlet</servlet-name>
        <servlet-class>servlet.DisplayReservationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayReservationsServlet</servlet-name>
        <url-pattern>/DisplayReservationsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportCriteriaServlet</servlet-name>
        <servlet-class>servlet.ReportCriteriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportCriteriaServlet</servlet-name>
        <url-pattern>/ReportCriteriaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
</web-app>